{% load qb_extras %}

    <header class="row">
        <span class="col font-weight-light {{ qb.threat|threatbar }}">{{ qb.threat|threatbar|safe }}</span>
        <span class="col font-weight-light text-right">#{{ qb.id }}</span>
    </header>

    <section class="quickbuild border rounded">
    {% for build in qb.build_set.all %}
        {% with pilot=build.pilot ship=build.pilot.ship %}
        <section class="container">

           <!-- {% if not forloop.first %}
                <div class="text-center">Ship {{ forloop.counter }}</div>
            {% endif %} -->

            <div class="row"> <!-- row 1 -->
                <div class="col-md-8">
                    <h5>{{pilot}} ({{qb.faction}} {{ship}})</h5>
                </div>

                <div class="col text-right">
                    {% for attack in ship.shipattack_set.all %}
                        <span class="icon attack">{{ attack.display_name|iconize }}</span>
                    {% endfor %}

                        <span class="icon">{{ "agility"|get_icon:"agility" }} {{build.agility}}</span>

                    {% if build.shields %}
                        <span class="icon">{{ "shield"|get_icon:"shields" }} {{build.shields}}</span>
                    {% endif %}

                        <span class="icon">{{ "hull"|get_icon:"hull" }} {{build.hull}}</span>

                    {% if build.force %}
                        <span class="icon">{{ "forcecharge"|get_icon:"force" }} {{build.force}}</span>
                    {% endif %}

                    {% if pilot.charge %}
                        <span class="icon">{{ "charge"|get_icon:"charge" }} {{ pilot.charge }}
                        {% if pilot.charge_regen %} {{"recurring"|get_icon:"charge"}}{% endif %}</span>
                    {% endif %}
                </div>

            </div> <!-- end row 1 -->

            <div class="row"> <!-- row 2 -->

                <div class="col-md-5">
                    <h5>Initiative {{ pilot.initiative }}</h5>
                </div>


                <div class="col text-right"> <!-- action sidebar -->
                    {% for action in pilot.actions %}
                        <span>{{ action.display_name }}</span>
                    {% endfor %}
                </div>

            </div> <!-- end row 2 -->

            <section> <!-- upgrade group -->
                {% if pilot.ability %}
                <div class="row upgrade">
                    <div class="col-md-3 text-nowrap">{{ pilot.display_name }}</div>

                    <div class="col ability">
                        <span>{{ pilot.ability|iconize|safe }}</span>
                        {% if pilot.charge %}
                            <div>
                                {{ "charge"|get_icon:"charge" }}
                                {{ pilot.charge }}{% if pilot.charge_regen %}{{ "recurring"|get_icon }}{% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% with condition=pilot.condition %}
                {% if condition %}
                <div class="row condition">
                    <div class="col-md-3">
                        {{ condition.name }}
                    </div>

                    <div class="col">
                        {{ condition.effect }}
                    </div>
                </div>
                {% endif %}
                {% endwith %}

                {% endif %}

                {% if ship.ability_title %}
                <div class="row upgrade">
                    <div class=" col-md-3 text-nowrap">{{ ship.ability_title }} {{ ship.icon }}</div>
                    <div class="col ability">{{ ship.ability|iconize }}</div>
                </div>
                {% endif %}

                {% for upgrade in build.upgrades.all %}
                <div class="row upgrade">
                    <div class="col-md-3 text-nowrap" >
                        {{upgrade}}
                        {{upgrade.get_slot_display|get_icon}}
                        {% if upgrade.slot2 %}
                        {{upgrade.get_slot_display|get_icon}}
                        {% endif %}
                    </div>

                    <div class="col">
                        {% if upgrade.special_attack %}
                            <div>{{ upgrade.special_attack.display_name|iconize }}</div>
                        {% endif %}

                        {% if upgrade.actions %}
                            <div class="text-right">
                                {% for action in upgrade.upgradeaction_set.all %}
                                {{ action.display_name }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if upgrade.grants %}
                            <div>{{ upgrade.grants|iconize }}</div>
                        {% endif %}

                        <span class="ability">{{ upgrade.ability|iconize }}</span>

                        {% if upgrade.charge %}
                            <div>
                                {{ "charge"|get_icon:"charge" }}
                                {{upgrade.charge}}{% if upgrade.charge_regen %} {{ "recurring"|get_icon }}{% endif %}
                            </div>
                        {% endif %}

                    </div>
                </div>

                {% with side2=upgrade.side2 %}
                {% if side2 %}
                <div class="row">
                    <div class="col-md-3 text-nowrap">
                        {{side2}}
                        {{side2.get_slot_display|get_icon}}
                        {% if side2.slot2 %}
                        {{side2.get_slot_display|get_icon}}
                        {% endif %}
                    </div>

                    <div class="col side2">
                        {% if side2.special_attack %}
                            <div>{{ side2.special_attack.display_name|iconize }}</div>
                        {% endif %}

                        {% if side2.actions %}
                            <div class="text-right">
                                {% for action in side2.upgradeaction_set.all %}
                                {{ action.display_name }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if side2.grants %}
                            <div>{{ side2.grants|iconize }}</div>
                        {% endif %}

                        <span class="ability">{{ side2.ability|iconize }}</span>

                        {% if side2.charge %}
                            <div>
                                {{ "charge"|get_icon:"charge" }}
                                {{side2.charge}}{% if side2.charge_regen %} {{ "recurring"|get_icon }}{% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %} <!-- side2 -->
                {% endwith %}

                {% with condition=upgrade.condition %}
                {% if condition %}
                <div class="row condition">
                    <div class="col-md-3">
                        {{ condition.name }}
                    </div>

                    <div class="col">
                        {{ condition.effect }}
                    </div>
                </div>
                {% endif %}
                {% endwith %}

                {% endfor %} <!-- end upgrades -->

                {% if not pilot.ability and not ship.ability and not build.upgrades %}
                <div class="col">
                    <span><i>No special abilities.</i></span>
                </div>
                {% endif %}

            </section>

        </section>

        <!-- end build -->
        {% endwith %}
    {% endfor %} <!-- end quickbuild -->

    </section>
