.quickbuild {
    margin: 1.5rem;
}

.quickbuild > .row {
    margin-bottom: 0.3rem;
}

.hard {
    color: red;
}

.attack:before {
    color: red;
}

.agility:before {
    color: green;
}

.shields:before {
    color: blue;
}

.hull:before {
    color: olive;
}

.linked.before {
    color:dimgrey;
}

.icon {
    border: 1px solid lightgray;
    padding: 0.5rem;
    margin-left: 0;
}