.quickbuild {
    margin-bottom: 1.5rem;

}

.quickbuild > .row {
    margin-bottom: 0.3rem;
}

section > .row {
    margin: 0.5rem;
}

.hard,
.attack:before,
.attack > i:before {
    color: firebrick;
}

.agility:before {
    color: green;
}

.shields:before {
    color: blue;
}

.hull:before {
    color: olive;
}

.force:before {
    color: mediumpurple
}

.charge:before {
    color: orange
}

.linked.before {
    color: dimgrey;
}

.icon {
    border-color: dimgrey;
    padding: 0.5rem;
    margin-left: 0;
}

td .xwing-miniatures-font {
    font-size: 1rem;
}