.quickbuild {
    margin-bottom: 1.5rem;

}

.quickbuild > .row {
    margin-bottom: 0.3rem;
}

section > .row {
    margin: 0.5rem;
}

.hard,
.attack:before,
.attack > i:before {
    color: red;
}

.agility:before {
    color: springgreen;
}

.shields:before {
    color: blue;
}

.hull:before {
    color: olive;
}

.force:before {
    color: mediumpurple
}

.charge:before {
    color: orange
}

.linked.before {
    color: dimgrey;
}

.icon {
    border-color: dimgrey;
    padding: 0.5rem;
    margin-left: 0;
}

td .xwing-miniatures-font {
    font-size: inherit;
}

.threat-1 {color:green;}
.threat-2 {color:yellow;}
.threat-3 {color:orange;}
.threat-4 {color:red;}
.threat-5 {color:magenta;}
.threat-6 {color:purple;}
